.main-nav {
  @include desktop {
    float: right;
    padding-right: 3em;
  }
}
  a {
    display: block;
    text-decoration: none;
    @extend %centered;
    max-width: 100%;
    padding: .5em;
    margin-bottom: .3em;
    color: $color-font;
    background-color: $color-sec;
    font-size: $font-size-nav;
    font-weight: 300;
    @include mobile {
      background: none;
      text-align: center;
      display: inline-block;
      font-weight: bolder;
    }
  }
  li {
    @include desktop {
      display: inline-block;
    }
  }
  li a {
    &:hover,
    &:focus {
      color: $color-nav-hov;
      @include mobile {
        text-align: center;
        display: inline-block;
        font-weight: bolder;
        font-size: 20px;
      }
    }
  }
.bold {
  font-weight: bolder;
}
