/* Global Layout Set-up */
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin-left: -40px;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: $stack-roboto;
  color: $color-font;
  background-color: $color-prim;
}
p {
  color: $color-font-intro;
  font-family: $stack-source;
  padding-left: 1em;
  padding-right: 1em;
}
/* Psuedo Classes */
a {
  &:hover {
    color: $color-link-hov;
  }
  &:visited {
    color: $color-font;
    background-color: $color-sec;
  }
}
hr {
  width: 92%;
}
