/* Global Layout Set-up */
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin-left: -40px;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: $stack-roboto;
  color: $color-font;
  background-color: $color-prim;
}
p {
  color: $color-font-intro;
  font-family: $stack-source;
  font-size: $font-size-p;
  padding-left: 1em;
  padding-right: 1em;
}
h1 {
  font-size: $font-size-h1;
}
h2 {
  font-size: $font-size-h2;
}
h3 {
  font-size: $font-size-h3;
}
a {
  font-size: $font-size-a;
}
/* Psuedo Classes */
a {
  &:hover {
    color: $color-link-hov;
  }
  &:visited {
    color: $color-font;
    background-color: $color-sec;
  }
}
hr {
  width: 92%;
  @media #{$brk-narrow , $brk-mid}{
    width: 90%;
  }
  @media #{$brk-wide}{
    width: 85%;
  }
}
.group::after {
  @media #{$brk-narrow , $brk-mid , $brk-wide}{
    content: " ";
    display: table;
    clear: both;
  }
}
