/* Descriptive Color Variables */
$black : #000;
$white : #fff;
$spectra : #2F4F4F;
$silver-chalice : #A3A3A3;
$temptress : #480000;
$gallery : #ededed;
$cod-grey : #1c1c1c;

/* Functional Color Variables*/

$color-prim : $gallery;
$color-sec : $white;
$color-font : $black;
$color-font-intro : $spectra;
$color-rec : $silver-chalice;
$color-nav-hov : $cod-grey;
$color-link-hov : $temptress;

/* Font Stack */
$stack-sans-serif : Helvetica, Arial, sans-serif;
$stack-roboto : 'Roboto', $stack-sans-serif;
$stack-source : 'Source Sans Pro', $stack-sans-serif;

/* Font Sizes */

$font-size-h1 : 2em;
$font-size-nav : 1.125em;
$font-size-intro : 23px;
$font-size-h3 : 1.17em;
$font-size-h2 : 1.5em;
$font-size-p : 1em;
$font-size-a : 1em;

/* Media Query Breakpoints */

$brk-wide : '(min-width: 1024px)';
$brk-mid : '(min-width: 768px)';
$brk-narrow : '(min-width: 700px)';
