/* Descriptive Color Variables */
$black : #000;
$white : #fff;
$spectra : #2F4F4F;
$silver-chalice : #A3A3A3;
$temptress : #480000;
$gallery : #ededed;
$cod-grey : #1c1c1c;

/* Functional Color Variables*/

$color-prim : $gallery;
$color-sec : $white;
$color-font : $black;
$color-font-intro : $spectra;
$color-rec : $silver-chalice;
$color-nav-hov : $cod-grey;
$color-link-hov : $temptress;

/* Font Stack */
$stack-sans-serif : Helvetica, Arial, sans-serif;
$stack-roboto : 'Roboto', $stack-sans-serif;
$stack-source : 'Source Sans Pro', $stack-sans-serif;

/* Font Sizes */
 
