/*** Profile ***/
.name {
  align-self: center;
  text-decoration: none;
  color: $color-font;
  margin-top: .5em;
  text-align: center;
  background-color: $color-prim;
}
.rectangle {
  background: $color-rec;
  padding-top: 1em;
  padding-bottom: .9em;
  width: 90%;
  display: block;
  z-index: 2;
  margin: 2em auto;
  text-align: center;
}
.profile-image {
  max-width: 150px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  z-index: 5;
}
.intro {
  padding-top: .5em;
  padding-bottom: 3em;
  margin: 0 auto;
  color: $color-font-intro;
}
/*Layout Containers*/

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  background-color: $color-prim;
}
/*** Portfolio ***/
.portfolio {
  h3 {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  background: $color-sec;
  padding-bottom: 1em;
}
  .portfolio-image {
    max-width: 90%
  }


/*** Contact ***/
#contact {
  margin: 0 auto;
  width: 80%;
  padding-bottom: 2em;
  padding-top: 1em;
  a {
    text-decoration: none;
    color: $color-font;
  }
}
  .contact-info li {
    padding: .5em;
  a {
  &:hover,
  &:focus {
    color: $color-nav-hov;
    }
  }
}
